This is a quick and dirty example of how one might visualize supply and demand for child care in Seattle.

In [8]:
import numpy as np
import pandas as pd
import requests as r

In [9]:
acs_url = 'https://api.census.gov/data/2019/acs/acs5?get=NAME,B01001_001E&for=tract:*&in=state:53%20county:033'

In [10]:
acs_response = r.get(acs_url)

In [18]:
acs = pd.DataFrame(acs_response.json())
acs.columns = acs.iloc[0]
acs = acs.drop(0).reset_index().drop('index', axis=1)
acs

,NAME,B01001_001E,state,county,tract
0,"Census Tract 207, King County, Washington",4064,53,033,020700
1,"Census Tract 208, King County, Washington",4279,53,033,020800
2,"Census Tract 209, King County, Washington",3420,53,033,020900
3,"Census Tract 210, King County, Washington",6024,53,033,021000
4,"Census Tract 220.01, King County, Washington",5729,53,033,022001
...,...,...,...,...,...
393,"Census Tract 201, King County, Washington",3319,53,033,020100
394,"Census Tract 292.04, King County, Washington",7704,53,033,029204
395,"Census Tract 293.05, King County, Washington",4177,53,033,029305
396,"Census Tract 300.03, King County, Washington",6524,53,033,030003
397,"Census Tract 302.02, King County, Washington",7240,53,033,030202